@font-face {
    font-family: Retwisted;
    src: url(retwisted/Retwisted.otf);
}

body {
    padding: 0px;
    margin: 0px;

}

.background-image {
    background-image: url("pictures/cats.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}


.container {
    position: relative;
    text-align: center;
    color: white;
 }

  
.header-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        background-color: rgba(219, 63, 63, 0.384);
        border: 3px solid white;
        font-family: Retwisted;
}

audio {
    display: none;
}